@import './tetrisBoard.css';
@import './header.css';
@import './tetrimGame.css';
@import './gameOver.css';
@import './scrollBar.css';
@import './operationSide.css';
@import './mediaStyle.css';

* {
	box-sizing: border-box;
}

body {
    margin: 0;
	padding: 0;
	font-family: 'Permanent Marker', cursive;
	
	--color-gold: rgb(143, 110, 28);
}






