.header {
	padding-top: 5%;
	padding-bottom: 3%;
	padding-left: 10%;
	justify-content: center;
	font-size: 24px;
	background-color: red;
	color: black;
	border-bottom: 2px solid var(--color-gold);
}

.header>span{
	font-family: 'Press Start 2P', cursive;
}