.tetrisWrapper {
	width: 100vw;
	height: 100vh;
	background-size: cover;
}

.tetrisGame {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100vw;
	margin: 20px 0;
}

.stage {
	margin: 20px auto;
	border-top: 2px solid var(--color-gold);
	border-bottom: 2px solid var(--color-gold);
}

.buttonGroup>button {
	background-color: red;
	border: 2px solid var(--color-gold);
	width: 50vw;
	height: 7vh;
	margin: 2vh 0;
}

