* {
	box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
	font-family: 'Quicksand', sans-serif;
	
	background-color: white;

	--I-color: rgb(63, 153, 51);
	--J-color: rgb(189, 188, 148);
	--L-color: rgb(0, 76, 97);
	--O-color: rgb(48, 8, 104);
	--S-color: rgb(255, 148, 61);
	--T-color: rgb(206, 128, 255);
	--Z-color: rgb(184, 67, 12);
	--zero-color: rgb(12, 14, 11);
}

/* .stage {
	display: grid;
	grid-template-rows: repeat(20, calc(25vw/ 12));
	grid-template-columns: repeat(12, 1fr);
	border: 1px solid #000;
	width: 100%;
	max-width: 25vw;
}; */

.row {
	display: flex;
}
.cell {
	height: 3vmin;
	width: 3vmin;
	border: 1px solid #777;
	background-color: white;
}

.I {
	background-color: rgb(253, 22, 22);
}

.S {
	background-color: blue;
}

.O {
	background-color: violet;
}

.Z {
	background-color: yellowgreen;
}

.T {
	background-color: black;
}

.L {
	background-color: gray;
}

.J {
	background-color: green;
}

.A {
	background-color: brown;
}

.opperationSide {
	display: flex;
	flex-direction: column;
	margin-left: 10px;
}

.score {
	box-sizing: border-box;
	display: flex;
	align-items: conter;
	margin: 0 0 20px 0;
	padding: 20px;
	border: 4px solid #333;
	min-height: 30px;
	width: 100%;
	border-radius: 20px;
	/* color: ${props => (props.gameOver ? 'red' : '#999')}; */
	background: #000;
	font-size: 0.8rem;
	color: white;
}

.startButton {
	box-sizing: border-box;
	margin: 0 0 20px 0;
	padding: 20px;
	min-height: 30px;
	width: 100%;
	border-radius: 20px;
	border: none;
	color: #fff;
	background: #333;
	font-size: 1rem;
	outline: none;
	cursor: pointer;
}

